
body {
background: rgb(71, 24, 2);
}
.navbar {
background: rgba(160, 81, 45, 0.89);
}

.flex {
display:flex !important;
flex-direction: column !important;

}

.locs{
color: #000;
text-decoration: none;
}

.locs:hover {
color: sienna;
}

.card-body{
    color: #000;
}