{% extends 'base.html' %}
{% block content %}
<body>

<div class="container">
    {%for loc in locations%}
    <div class="d-inline me-3">
        <a class="locs" aria-current="page"
           href="{% url 'location' %}?location={{location.location_name}}">{{location.location_name}}</a>
    </div>
    {% endfor %}

    <div class="row">
        <h3 class="text-center text-muted mt-3">Searched Location</h3>
        {%for image in search_location%}
        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="{{image.image.url}}"
               <div class="card-body">
                <p class="card-title"><strong>Category: </strong>{{image.category}}</p>   
                 <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal{{image.id}}">View</button>
                            
              </div>            
            </div>
        </div>
 


<!--  modal -->
<div class="modal fade"  id="exampleModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{image.category }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </div>

                    <div class="modal-body">
                        <img src="{{image.image.url}}" class="img-fluid" data-toggle="modal" data-target="#exampleModal{{image.id}}" style="width: 100%;">
                        <p><strong>Description</strong> {{image.description }}</p>
                        <p><strong>Image location</strong>: {{image.location }}</p>


                    </div>
                    <div class="modal-footer">
                        <input class="form-control" type="text" value="http://127.0.0.1:8000{{image.image.url}}" id="thislinkhere-{{image.id}}">
                        <a onclick="copyLink({{image.id}})"><button type="button" class="btn btn-outline-secondary my-2 my-sm-0 link-btn">Copy</button></a>

                    </div>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
</body>

{%endfor%}
</div>
</div>
{%endblock%}
