<nav class="navbar navbar-expand-lg navbar-light text-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Anime | Gallery</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active lead" aria-current="page" href="{% url 'home' %}"><b>Home<b></a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link active lead" aria-current="page" href="{% url 'location' %}"><b>Location<b></a>
            </li>-->
        </ul>
   <!--search form-->
      <form class="d-flex" method=POST action="{% url 'search-category' %}">
        {% csrf_token %}
            <input class="form-control me-2" name="searched" type="search" placeholder="Search Category" aria-label="Search">
            <button class="btn btn-outline-secondary text-dark" type="submit"><b>Find</b></button>
      </form>
    </div>
  </div>
</nav>
